ul {
  list-style: none;
}

.header {
  background-color: #474D59;
  color: #fff;
  padding: 20px 0;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.logotype {
  display: flex;
  align-items: center;
}

.logotype:hover {
  cursor: pointer;
}

.logotype__text {
  margin-left: 10px;
  font-weight: 900;
}

.account {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  padding:  10px 25px;
  justify-content: space-between;
}

.account:hover, .account__btn{
  cursor: pointer;
}

.account__btn{
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
}
