<header class="header">
  <div class="container">
    <div class="wrapper">
      <div class="logotype" id="logotype" routerLink="/">
        <img src="./assets/img/earth.png" alt="earth" class="logotype__image">
        <p class="logotype__text">Movies</p>
      </div>
      <div class="account" id="account" routerLink="./favorite-page">
        <button class="account__btn" id="account__btn">My Account</button>
        <img src="./assets/img/chevron-down.png" alt="arrow-down" class="account__image">
      </div>
    </div>
  </div>
</header>
