.display-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-title {
  margin-bottom: 15px;
  font-size: 20px;
}

.movieTitle {
  display: none;
}

.films {
  padding: 50px 0;
  color: #a9a9a9;
  background-color: #F2F3F5;
}

.movie{
  position: relative;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0px 0px 19px 7px rgb(34 60 80 / 23%);
}

.moviePicture {
  width: 250px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.23);
  -moz-box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.23);
  box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.23);
  color: red;
}

.btns {
  border: 1px solid black ;
  padding: 10px;
  width: 225px;
  margin: 0 auto;
  display: flex;
}

.btns:hover {
  cursor: pointer;
}

.btns li {
  margin-right: 5px;
}


