<section class="films">
  <div class="container">
    <h1 class="main-title">Latest Releases</h1>
    <div class="movies display-flex">
       <app-poster *ngFor="let m of movies" [movie]="m"></app-poster>
    </div>
    <ul class="btns">
      <li (click)="firstPage()">First</li>
      <li class="prevBtn" (click)="prevPage()">Prev</li>
      <li *ngFor="let i of btnsArray" (click)="renderBtns($event)">
        {{i}}
      </li>
      <li class="btnNExt" (click)="toNext()">Next</li>
      <li (click)="lastPage()">Last</li>
    </ul>
  </div>
</section>
