<section class="films">
  <div class="container">
    <h1 class="main-title">Latest Releases</h1>
    <div class="movies display-flex">
      <div *ngFor="let m of movies">
        <div class="movie">
          <img src="http://image.tmdb.org/t/p/w342{{m.poster_path}}" alt="picture" class="moviePicture" id="{{m.id}}" (click)="openMovie(m)">
          <p class="movieTitle">{{m.title}}</p>
        </div>
      </div>
    </div>
    <ul class="btns">
      <li (click)="firstPage()">First</li>
      <li class="prevBtn" (click)="prevPage()">Prev</li>
      <li *ngFor="let i of btnsArray" (click)="renderBtns($event)">
        {{i}}
      </li>
      <li class="btnNExt" (click)="toNext()">Next</li>
      <li (click)="lastPage()">Last</li>
    </ul>
  </div>
</section>
