.display-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.movieTitle {
  display: none;
}

.films {
  padding: 50px 0;
  color: #a9a9a9;
  background-color: #F2F3F5;
}

.movie {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 0px 0px 19px 7px rgb(34 60 80 / 23%);
}

.moviePicture {
  width: 250px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.23);
  -moz-box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.23);
  box-shadow: 0px 0px 19px 7px rgba(34, 60, 80, 0.23);
  color: red;
}

.btns {
  border: 1px solid black ;
  width: 400px;
  margin: 0 auto;
  display: flex;
}

.btns:hover {
  cursor: pointer;
}

.btns li {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.btns li:hover {
  color: #56BBA0;
}

.btns li:not(:last-child) {
  border-right: 1px solid black;
}

