<img src=""
     alt=""
     class="backgroundImageFav">
<div class="movieDescriptionFav container">
  <div class="sliderFav">
    <div class="backToListFav" routerLink="../favorite-page">Back to list</div>
    <div class="nextMovieFav">Next movie</div>
  </div>
  <div class="movieInformationFav">
    <div class="moviePosterFav">
      <img src=""
           alt=""
           id=""
           class="moviePosterImgFav">
    </div>
    <div class="detailsInfoFav">
      <button class="detailsInfoBtnFav"
      >Add to favorites</button>
      <div class="detailsInfoBlockFav">
        <h1 class="movieTitleFav">{{currentFavMov.title}}</h1>
        <ul class="">
          <li class="movieReleaseFav">
          </li>
        </ul>
        <div class="movieTextFav">
        </div>
      </div>
    </div>
  </div>
</div>

